.picture_product{
    text-align: center;
    border: black;
}
.full_img img{
    vertical-align: middle;
    max-width: 400px;
    max-height: 400px;

    top:0;
    left: 0;
}

.thumbnail_img img{
    vertical-align: middle;
    height: 100px;
    width: 100px;
}
.map_view{
    width: 100%;
    height: 500px;
}
.header{
    margin-bottom: 0;
}
